html,
body {
  height: 100%;
}

nav {
  /* height: 25%; */
}

.title {
  text-align: center;
  letter-spacing: 0.25em;
  font-family: "Francois One", sans-serif;
  font-size: 3.5rem;
  line-height: 2;
}

.buttons {
  display: flex;
  justify-content: center;
}

.grid-range {
  text-align: center;
  padding: 1rem 0;
}

.reset-button,
.random-color-button {
  position: relative;
  width: auto;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #f39c12;
  background: #e67e22;
  text-align: center;
  padding: 16px 18px 14px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
  font-size: 1.25rem;
  margin-right: 1rem;
}

.reset-button:active,
.random-color-button:active {
  -webkit-box-shadow: 0px 2px 0px #d35400;
  -moz-box-shadow: 0px 2px 0px #d35400;
  box-shadow: 0px 2px 0px #d35400;
  position: relative;
  top: 4px;
}

input[type="color"] {
  opacity: 0;
  display: block;
  width: 32px;
  height: 32px;
  border: none;
}

#color-picker-wrapper {
  width: 32px;
  height: 32px;
}

.slider {
  width: 200px;
}

.sketch-pad {
  display: flex;
  justify-content: center;
}

.innerDiv {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 2rem;
  height: 2rem;
}

.outerDiv {
  border-top: 1px solid black;
}

.outerDiv:first-child {
  border-left: 1px solid black;
}
