html,
body {
  font-family: "Francois One", sans-serif;
  background-color: #1d3e81;
}

.title {
  text-align: center;
  letter-spacing: 3px;
  font-size: 4rem;
  padding: 2rem 0;
  color: white;
}

.content {
  display: flex;
  justify-content: space-evenly;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reset-button,
.random-color-button {
  position: relative;
  width: auto;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border: solid 1px #f39c12;
  background: #e67e22;
  text-align: center;
  padding: 16px 18px 14px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
  font-size: 1.5rem;
  font-family: "Francois One", sans-serif;
  margin-bottom: 2rem;
}

.reset-button:active,
.random-color-button:active {
  -webkit-box-shadow: 0px 2px 0px #d35400;
  -moz-box-shadow: 0px 2px 0px #d35400;
  box-shadow: 0px 2px 0px #d35400;
  position: relative;
  top: 4px;
}

input[type="color"] {
  opacity: 0;
  display: block;
  width: 32px;
  height: 32px;
  border: none;
}

#color-picker-wrapper {
  width: 50px;
  height: 50px;
  background-color: #91ff91;
  border: 1px solid white;
  margin: 0 auto;
  border-radius: 25%;
}

.grid-range {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  margin-top: 1rem;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 15px;
  background: white;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e67e22; /* Green background or add an image */
  cursor: pointer;
  border: 1px solid #e67e22;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e67e22;
  cursor: pointer;
  border: 1px solid #e67e22;
}

.value-container {
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
}

.github-wrapper {
  margin: 0.5rem auto;
}

.github-icon {
  width: 44px;
  height: auto;
}

.sketch-pad {
  display: flex;
  justify-content: center;
  width: 529px;
  height: 529px;
  background-color: white;
  border: 20px solid #ff973d;
  border-radius: 10px;
  box-shadow: 2px 2px 10px white;
}

/* .innerDiv {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 32px;
  height: 32px;
}

.outerDiv {
  border-top: 1px solid black;
} */

.outerDiv:first-child {
  border-left: 1px solid black;
}
